.pomodoro__reset {
  @extend %button;

  position: absolute;
  left: 10px;
  top: 10px;
}

.pomodoro__timer {
  @extend %pomodoro-half;

  position: relative;
  z-index: 0;
  border-radius: 20px 20px 0 0;
  margin-bottom: 10px;
}

.timer-label {
  font-size: 2em;
}

.time-left {
  font-size: 1.5em;
}
