* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #e3324f;
  font-size: 18px;
  font-family: 'Sniglet', cursive;
}
